form{
  display: flex;
  padding: 50px;
  gap: 0;
}

.page-title{
  margin-bottom: 20px ;
  font-size: 1.2rem;
}
button{
  margin-top: 20px;
}

input{
  width: 100%;
}



.page-container{
  background-color: transparent;
}



