.routerLinkActive{
  border-bottom: 10px solid var(--primary-color);
}


header{
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}
a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  border-bottom: 10px solid transparent;
  height: 100%;
}


a:hover{
 border-bottom: 10px solid var(--primary-color);
}
nav{
  padding:0 2rem;
  height: 80px;
  width: inherit;;
  max-width: var(--max-width);
  margin: auto;
  background:white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-color);
  display: flex;
}

.box{
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 100%;

}
