.paginacao-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  max-width: 400px;
  margin: auto;
}

.paginacao-container button{
  width: auto;
  margin: 0;
}
